.instructions {
	background: #80e27e;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
	color: #fff;
	font-size: 1.3rem;
	padding: 0 20px 16px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.instructions .arrow-up,
.instructions .arrow-down {
	display: inline-block;
	font-size: 3.2rem;
	position: relative;
}

.instructions .arrow-up {
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
	top: 8px;
	transform: rotate(90deg) scaleX(-1);
}

.instructions .arrow-down {
	left: 12px;
	text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.1);
	top: 10px;
	transform: rotate(90deg);
}

.instructions .cursor {
	color: #004d40;
	display: inline-block;
	font-size: 2.4rem;
	position: relative;
	right: 30px;
	top: 6px;
}

.instructions .selection {
	background: #00e5ff;
	border-radius: 1px;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
	color: #fff;
	padding: 0;
}

.instructions .marked {
	border-radius: 2px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	padding: 0;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
	font-family: "Ubuntu Mono", monospace;
	font-size: 1.4rem;
	font-weight: 400;
	letter-spacing: 0.015em;
	line-height: 1.5rem;
	word-wrap: break-word;
}